{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div class="form-container">
  <p>Reservation for: {{ date|date('Y-m-d H:i:s') }}.</p>
  {{ form(form) }}
</div>
{% endblock %}
