/* Global */
.hidden {
    display: none;
}

/* Calendar */
.calendar-error {
    color: red;
    margin: 30px 0;
    font-size: 1.3em;
}

#calendar_month_actions {
    margin-top: 20px;
}

td {
    text-align: center;
}

#calendar td.today {
    background-color: #fbb;
}

.hoverHighlight {
  background-color:yellow !important;
  cursor:default;
}

.hoverHighlight {
  background-color: #ddd !important;
  cursor:default;
}

#calendar {
  font-family:arial;
  border-spacing:0;
  border-collapse: collapse;
  margin: 30px 0;
  th, td {
    border:2px solid black;
    text-align:center;
    padding:5px;
    margin:0;
  }
  th {
    background:#1167b1;
    color:white;
  }
  td {
    text-align:center;
    background:#d0efff;
    height: 45px;
  }
}

.fa-edit.reserve {
    color: blue;
}

.fas.fa-eye.read {
    color: darkviolet;
}


/* Modal Window */

.dialog{
  padding: 20px;
  border:0;
  background:transparent;
}

.dialog::backdrop{
  background-color: rgba(0,0,0,.3);
  backdrop-filter: blur(4px);
}

.dialog__wrapper{
  padding:20px;
  background:#fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
}

.dialog__close{
  border:0;
  padding:0;
  width: 24px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background:#000;
  color:#fff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  position:absolute;
  top:5px;
  right:5px;
  cursor:pointer;
  --webkit-appearance:none;
  appearance:none;
}

/*** Reservation ***/

.success {
    font-size: 1.2em;
}